!!!
%html
  %head
    %title Story Editor
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"/style.css", :rel=>"stylesheet"}
  %body
    .container{ :style => "margin: 0 auto; max-width: 50em" }= yield
